<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
     Congratulation! you have been registered on the App. 
     Your registered Email is <%= @email %>
    </p>
  </body>
</html>